.reviews-list {
    min-height: 10em;
    height: 30vh;
    max-height: 20em;
    overflow-y: scroll;
    border: 1px solid grey;
}

.review {
    border-bottom: 1px solid grey;
}

.header {
    font-style: italic;
    color: grey;
}

.review img {
    float: left;
    margin: 0;
    width: 1.5em !important;
    height: 1.5em !important;
    object-fit: cover;
}

.username {
    font-weight: bold;
}


