.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* opacity: 0.75; */
    /* visibility: hidden; */
    background-color: rgba(100, 100, 111, 0.3);
}

.modal {
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 12px;
    position:  fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 20em;
}

.modal .center * {
    margin: 0 50%;
    transform: translate(-50%, -25%);
}
