div.calendar {
    overflow-x: scroll;
}

.calendar {
    font-size: 1.1em;
    border-collapse: collapse;
    margin: 0 auto;
}
.calendar th,
.calendar td {
    border: 1px solid grey;
    min-width: 1.5em;
    min-height: 1.5em;
}

.calendar .card {
    margin: 0;
    font-size: 0.5em;
}

.calendar .today {
    background-color: aquamarine;
}

.calendar .now {
    background-color: aquamarine;
}
